.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
  max-height: 87%;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 8px 0;
}